{% extends 'blog_app/base.html' %}

{% block content %}
  <h1 class="text-center fw-bold">About Us</h1>
  
  <h2>Our Mission</h2>
  <p>At Django Blog App, our mission is to provide a platform where users can explore and engage with insightful content on various topics. We strive to deliver high-quality articles, fostering a community of knowledge-sharing and learning.</p>
  
  <h2>Who We Are</h2>
  <p>Django Blog App is a dedicated team of writers, editors, and developers who are passionate about delivering valuable content to our readers. We come from diverse backgrounds and have expertise in different domains, ensuring a broad range of topics and perspectives covered on our platform.</p>
  
  <h2>What We Offer</h2>
  <p>Through our blog, we offer thought-provoking articles, tutorials, and guides on subjects such as technology, lifestyle, travel, and more. Our aim is to provide informative and engaging content that resonates with our audience, helping them stay informed and inspired.</p>
  
  <h2>Get Involved</h2>
  <p>We encourage our readers to actively participate in the community by leaving comments, sharing articles on social media, and contributing their ideas and experiences. Your feedback and engagement are essential in shaping the future direction of our platform.</p>
  
  <h2>Contact Us</h2>
  <p>If you have any questions, suggestions, or partnership opportunities, we'd love to hear from you. Please don't hesitate to reach out to us via email or social media channels. We value your input and appreciate your interest in [Your App Name].</p>
{% endblock %}